* {
  font-family: sans-serif;
}
body {
  background-color: papayawhip;
}
h1 {
  text-align: center;
}
.container div {
  margin-bottom: 15px;
  border: 2px solid black;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: normal;
  box-sizing: border-box;
  line-height: 3ch;
}
.container div:hover {
  background-color: bisque;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  align-content: center;
  gap: 15px;
}
button {
  background-color: papayawhip;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}

#newbook-btn {
  display: block;
  margin: 0 auto;
}

dialog:open {
  opacity: 1;
}
.container div .remove {
  margin-right: 15px;
}
